.git/
.venv/
**dist/
**/node_modules/
cowait.egg-info/
**/dask-worker-space/
.pytest_cache/
**/__pycache__/
htmlcov/
build/
assets/
images/
*.pyc

.DS_Store
.vscode
.vim
.gitignore
**/.ipynb_checkpoints/

build.sh
test.sh
Dockerfile
examples/