[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
flake8 = "*"
autopep8 = "*"

[packages]
click = "*"
docker = "*"
kubernetes = "*"
pyyaml = "*"
dask = "*"
distributed = "*"
pipeline = {editable = true,path = "."}
pyzmq = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
