[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
click = "*"
docker = "*"
kubernetes = "*"
pyyaml = "*"
dask = "*"
distributed = "*"
marshmallow = "*"
aiohttp = "*"
aiohttp-middlewares = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-asyncio = "*"
nest-asyncio = "*"
numpy = "*"
sty = "*"
python-dotenv = "*"
fsspec = "*"
s3fs = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
